body {    
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
    background-image: url("leaves.png");
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Srisakdi', cursive;
}

h1 {
    text-align: center;
}

#tareas {
  list-style-image: url('star.png');
}

.subtitulos {
    text-decoration: underline;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}